<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @city.zipcode %>
</p>

<p>
  <b>Note:</b>
  <%= @city.note %>
</p>


<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
